/* Move down content because we have a fixed navbar that is 50px tall */
body {
  /* so this means I might have to change the padding top for body based on what I have for navbar"
  /* maybe makes a difference once I go */
  padding-top: 50px;
  margin-left: 20px;
}

/* Nav Bar
----------------------------------- */



.navbar-default {
  background: white;
  border-color: white;
  margin: 15px 25px 0px 25px;
  font-family: raleway, sans-serif;
}

/*.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
  color: black;
}*/

.navbar-default .navbar-brand {
  color: black;
  font-size: 28px;
  font-family: raleway, sans-serif;
  font-weight: 800;
  vertical-align: bottom
}

.navbar-default .navbar-nav>li>a {
  color: rgb(155);
  font-size: 13;
  font-family: raleway, sans-serif;
  vertical-align: bottom;
  padding-bottom: 0;
}


/* anything larger than a macbook pro will render like container, non-fluid
so, incrementally, there will be white space around the content */
@media (min-width: 1680px) {
  .container-fluid {
    width: 1680px;
  }
}

/* this is for when we break into dropdown nav mode.
   this keeps the margin values the same. */
@media (max-width: 768px) {
  .navbar-default {
    /* top value must match what is in nav-bar default*/
    margin: 15px 0px 0px 0px;
  }
}

/* not sure if I need this -- should test on bigger computer */
/*@media (min-width: 768px) {
 .container { max-width: 1680px;
  }
  .navbar-default {
    max-width: 1680px;

  }
}*/



/*@media (max-width: 1280px) {
  .navbar-default {
    margin: 15px 25px 0px 25px;
  }

}

*/
/*
 * Main content
 */

/*.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}*/



/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}








